@media (min-width: 992px) {
  .section {
    padding: 15rem 2rem;
  }
  .reviews {
    &__info-box {
      display: flex;
      gap: 14rem;
    }

    &__title {
      width: 48%;
      text-align: left;
    }

    &__heading {
      font-size: 5rem;
    }

    &__stars-box {
      width: 48%;
    }

    &__star-box {
      display: flex;
      padding: 1.6rem 3rem;
      align-items: center;
      width: 85%;
      

      &--middle {
        margin: 0 auto 1rem auto;
      }


      &--right {
        margin-left: auto;
      }
    }

    &__stars-icons {
      margin-right: 2rem;
    }

    &__stars-info {
      margin-top: 0;
    }

    &__feedback-cards {
      display: flex;
      gap: 3rem;
      padding-top: 5rem;
    }

    &__feedback-card {
      height: 90%;
      width: 100%;

      &--middle {
        margin-top: 2rem;
      }
      &--bottom {
        margin-top: 4rem;
      }
    }
  }
}